.header {
  display: flex;
  background-color: rgb(75, 71, 71);
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}
.left {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  font-size: 14px;
}
.icon-logo {
  font-size: 30px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.icon-search {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 50px;
}
.search-bar input {
  background-color: rgb(75, 71, 71);
  border: none;
  color: white;
  margin-left: 5px;
  width: 15rem;
}
.search-bar button {
  background-color: rgb(75, 71, 71);
  border: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.carousel {
  background-color: rgb(75, 71, 71);
  width: 70%;
  height: 50rem;
}

.link {
  position: relative;
  text-decoration: none;
  color: white;
}
.link img {
  height: 300px;
  width: 450px;
  margin-top: 40px;

  display: block;
}

.movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.541);
  padding-bottom: 50px;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.link:hover .overlay {
  opacity: 1;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  margin-top: 20px;
}

.content {
  background-color: rgba(0, 0, 0);
}
